*.class
*.xml
Kondratenkov_Vadim.iml
.idea/.name
/idea/*
/out/*
/target/*
/src/META-INF/*
*.MF
Kondratenkov_Vadim.jar

manifest.txt
res/db/Vadim.mv.db
log/aaa.log
!res/log4j2.xml
!pom.xml
res/db/Vadim.trace.db

