*.class
*.xml
Kondratenkov_Vadim.iml
.idea/.name
/idea/*
/out/*
/libs/*
/target/*
/src/META-INF/*
*.MF
Kondratenkov_Vadim.jar
BUILD.sh
RUN.sh
TEST.sh
original-Kondratenkov_Vadim-1.0-SNAPSHOT.jar
Kondratenkov_Vadim-1.0-SNAPSHOT-shaded.jar
manifest.txt
res/db/Vadim.mv.db
log/aaa.log
!res/log4j2.xml
!pom.xml
res/db/Vadim.trace.db

