<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} %p: %msg -- %l %n"/>
        </Console>
        <!-- Файловый аппендер -->
        <RollingFile name="RollingFile" fileName=".\log\aaa.log">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss} [%-5p][%-1c{1}] [%-1M:%L] - %msg%n</Pattern>
            </PatternLayout>
	    <Policies>
		<SizeBasedTriggeringPolicy size="100 MB" />
	    </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>